<article class="articuloClass">
    <a href="/products/productDetail/<%= producto.id %>">
        <img src= "/images/<%= producto.images[0].name %>" class="imagenProducto" >
    </a>
    <div class="main-article-principal">
        <h4><%= producto.name %> </h4>
        <p><%= producto.description %></p>
        <div class="contenedor-precio">
            <p class="precio">$<%= producto.price %> </p>
            <button><span style="font-size: 14px">Agregar</span><i class="fas fa-cart-plus"></i></button>
        </div>
    </div>
</article>