<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {titulo: "Todos los productos"}) %> 
    <link rel="stylesheet" href="/css/styleHomeAdmin.css">
<body>
    <header>
        <div class="top-header">
        <div class= "logo">
            <a href="/homeAdmin" class="contenedorEnlace"><img class="imagen-logo" src="../images/logo.png" alt="Logo de pagina"></a>
        </div>
        
        <div class="iconosHeader">
        <div class="iconH" id="iconCuenta">
            <label  for="clickk">
                <i class="fas fa-user-circle"></i> Administrador
            </label>
            <input type="checkbox" class="inputCheck" id="clickk">
            <div class="login_desplegable">
                <% if (locals.usuarioHeader) { %>
                    <span class="login_desplegable_header">¡Hola! <%= locals.datosUsuarioGlobal.first_name %> </span>
                <a href="/profileAdmin" class="login_desplegable_perfil">Ver perfil<i class="fas fa-eye" style="user-select: auto;"></i></a><hr>
                <a href="/edit/<%= locals.datosUsuarioGlobal.id %>" class="login_desplegable_edit">Editar perfil<i class="fas fa-shield-alt" style="user-select: auto;"></i></a><hr>
                <a href="/logout" class="login_desplegable_close">Cerrar cuenta<i class="fas fa-sign-out-alt"></i></a>
                <% } else{%>
    
                <span class="login_desplegable_header">¡Elija!</span>
                <a href="/login" class="login_desplegable_login">Iniciar sesión</a><hr>
                <a href="/register" class="login_desplegable_signup">Registrate</a>
                <% } %> 
            </div>
        </div>
        
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        </div>
        
    </header>
    <main class="listProducts">
        <div class="contenedorCrearPorducto">
            <a href="/products/create"><button class="crearProducto">Crear Producto</button></a>
        </div>
        <div class="filtradoLista">
            <form action="/" method="get" class="elegirfiltrado">
                <h4>Filtrar:</h4>
                <div>
                    <select name="categorias">
                        <option value="categoria-1">categoria 1</option> 
                        <option value="categoria-2">categoria 2</option>
                        <option value="categoria-3">categoria 3</option>
                    </select> 
                </div>
            </form>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <th id="nombre">Nombre Producto</th>
                    <th id="descripcion">Descripcion</th>
                    <th id="precio">Precio</th>
                    <th id="categoria">Categoria</th>
                </tr>
                    <% for(let producto of products){%>
                        <tr>
                            <td class="datosTabla" id="nombre"> <%= producto.name %> </td>
                            <td class="datosTabla" id="descripcion"> <%= producto.description %> </td>
                            <td class="datosTabla" id="precio"> <%= producto.price %> </td>
                            <td class="datosTabla" id="categoria"> <%= producto.category.name %> </td>
                            <td class="botonesTabla">
                                <a href="/products/edit/<%= producto.id %>"> <button class="botonEditar" type="submit"> Editar </button></a>
                                <a href="/products/viewproductDetail/<%= producto.id %>"> <button class="botonEditar" type="submit"> Detalle </button></a>
                                <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                    <button class="botonEliminar" type="submit"> Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    <%}%>
            </table>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>