<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {titulo: "Resultados de tu búsqueda"}) %> 
<body>
    <%- include("../partials/header") %> 
    <main>
        <div class="listadoProductos">
           <% for(producto of productos){ %> 
                <%- include("../products/article") %> 
            <%}%> 
        </div>
        <% if (locals.cantidadTotal) { %>
            <div class="contenedorPaginado">
                <div class="contenedorEnlaces">
                    <% for( let i = 1; i <= Math.round((cantidadTotal.length/6)); i++ ) { %>
                        <a><%= i %> </a>
                    <% } %>
                    
                    
                </div>
            </div>
        <% } %>
        
    </main>
    <%- include("../partials/footer") %>
    <script src="/js/paginado.js"></script> 
</body>
</html>
