<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylesHeader-Footer.css">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="/css/editPassAndEmail.css">
</head>
<body>
    <% if (locals.usuarioHeaderAdmin) { %>
        <header>
            <div class="top-header">
            <div class= "logo">
                <a href="/homeAdmin" class="contenedorEnlace"><img class="imagen-logo" src="../images/logo.png" alt="Logo de pagina"></a>
            </div>
            
            <div class="iconosHeader">
            <div class="iconH" id="iconCuenta">
                <label  for="clickk">
                    <i class="fas fa-user-circle"></i> Administrador
                </label>
                <input type="checkbox" class="inputCheck" id="clickk">
                <div class="login_desplegable">
                    <% if (locals.usuarioHeader) { %>
                        <span class="login_desplegable_header">¡Hola! <%= locals.datosUsuarioGlobal.first_name %> </span>
                    <a href="/profileAdmin" class="login_desplegable_perfil">Ver perfil<i class="fas fa-eye" style="user-select: auto;"></i></a><hr>
                    <a href="#" class="login_desplegable_edit">Editar perfil<i class="fas fa-shield-alt" style="user-select: auto;"></i></a><hr>
                    <a href="/logout" class="login_desplegable_close">Cerrar cuenta<i class="fas fa-sign-out-alt"></i></a>
                    <% } else{%>
        
                    <span class="login_desplegable_header">¡Elija!</span>
                    <a href="/login" class="login_desplegable_login">Iniciar sesión</a><hr>
                    <a href="/register" class="login_desplegable_signup">Registrate</a>
                    <% } %> 
                </div>
            </div>
            
            </div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            </div>
            
        </header>
    <% } else { %>
    <%- include('../partials/header') %>
    <% } %> 
    <main class="register">
        <div id="editPerfil">
        <form action="/edit/<%= usuarioDatos.id %>?_method=PUT" method="POST" id="formularioEditPerfil" class="continuar" enctype="multipart/form-data">
            <h3>Editá tus datos</h3>
            <h4> <i class="fas fa-user-circle"></i> Datos Personales<br></h4>
            <div >
                <input class="dato" type="file" name="avatar" id="avatar" > 
            </div>
            <% if (locals.errors && errors.avatar) { %>
                <div class="errorValidacion">
                    <p><%= errors.avatar.msg %></p>
                </div> 
            <% } %>
            <div >
                <input class="dato" type="text" name="nombre" id="nombre" minlength="2" placeholder="Nombre actual: <%= locals.usuarioDatos? usuarioDatos.first_name:null %>" > 
                <div class="text-danger" id="nameError"></div>
            </div>
            <% if (locals.errors && errors.nombre) { %>
                <div class="errorValidacion">
                    <p><%= errors.nombre.msg %></p>
                </div> 
            <% } %>
            <div >
                <input class="dato"type="text" name="apellido" id="apellido" minlength="2" placeholder="Apellido actual: <%= locals.usuarioDatos? usuarioDatos.last_name:null %>" >  
                <div class="text-danger" id="lastNameError"></div>
            </div>
            <% if (locals.errors && errors.apellido) { %>
                <div class="errorValidacion">
                    <p><%= errors.apellido.msg %></p>
                </div> 
            <% } %>
            <div>
                <input class="dato"type="text" name="telefono" id="telefono" minlength="10" placeholder="Telefono movil actual: <%= locals.usuarioDatos? usuarioDatos.phone_number:null %>" > 
                <div class="text-danger" id="phoneNumberError"></div>
            </div>
            <% if (locals.errors && errors.telefono) { %>
                <div class="errorValidacion">
                    <p><%= errors.telefono.msg %></p>
                </div> 
            <% } %>
            
            

            <div class = "botones">
                <button class= "botonRegistro" type="submit"> editar </button>
                <button class= "botonRegistro" type="reset"> cancelar </button>
                
            </div>
            <div class="text-danger" id="formError"></div>
        </form>
        </div>
    </main>
    <%- include('../partials/footer') %> 
    <script type="text/javascript" src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/validacionEditPerfil.js"></script>
</body>
</html>