<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/stylesHeader-Footer.css">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="/css/editPassAndEmail.css">
</head>
<body>
    <%- include('../partials/header') %> 
    <main class="register">
        <div>
        <form action="/register" method="post" class="continuar" id="formularioRegister"enctype="multipart/form-data">
            <h3>Registrate</h3>
            <h4> <i class="fas fa-user-circle"></i> Datos Personales<br></h4>
            <div >
                <input type="file" name="avatar" id="avatar" value= "<%= locals.usuarioDatos? usuarioDatos.avatar:null %>" accept=".jpg,.png" > 
            </div>
            <% if (locals.errors && errors.avatar) { %>
                <div class="errorValidacion">
                    <p><%= errors.avatar.msg %></p>
                </div> 
            <% } %>
            <div >
                <input class="dato" type="text" name="nombre" id="nombre" minlength="2" value= "<%= locals.usuarioDatos? usuarioDatos.nombre:null %>" placeholder="Nombre" > 
                <div class="text-danger" id="nameError"></div>
            </div>
            <% if (locals.errors && errors.nombre) { %>
                <div class="errorValidacion">
                    <p><%= errors.nombre.msg %></p>
                </div> 
            <% } %>
            <div >
                <input class="dato"type="text" name="apellido" id="apellido" minlength="2" value= "<%= locals.usuarioDatos? usuarioDatos.apellido:null %>" placeholder="Apellido" >  
                <div class="text-danger" id="lastnameError"></div>
            </div>
            <% if (locals.errors && errors.apellido) { %>
                <div class="errorValidacion">
                    <p><%= errors.apellido.msg %></p>
                </div> 
            <% } %>
            <div>
                <input class="dato" type="text" name="telefono" id="telefono" minlength="10" value="<%= locals.usuarioDatos? usuarioDatos.telefono:null %>" placeholder="Telefono movil" > 
                <div class="text-danger" id="telError"></div>
            </div>
            <% if (locals.errors && errors.telefono) { %>
                <div class="errorValidacion">
                    <p><%= errors.telefono.msg %></p>
                </div> 
            <% } %>
            <div >
                <input class="dato" type="email" name="email" id="email" value= "<%= locals.usuarioDatos? usuarioDatos.email:null %>" placeholder="Correo Electronico" >
                <div class="text-danger" id="emailError"></div>
            </div>
            <% if (locals.errors && errors.email) { %>
                <div class="errorValidacion">
                    <p><%= errors.email.msg %></p>
                </div> 
            <% } %>
            <h4> <i class="fas fa-lock"></i> Contraseña<br></h4>
            <div > 
                <input class="dato" type="password" name="contrasenia" minlength="8" id="contrasenia" placeholder="Contraseña" >
                <div class="text-danger" id="contraseniaError"></div>
            </div>
            <div >
                <input class="dato" type="password" name="contrasenia2" minlength="8" id="contrasenia2" placeholder="Confirmar Contraseña" >
                <div class="text-danger" id="contraseniaConfirmedError"></div>
            </div> 
            <% if (locals.errors && errors.contrasenia) { %>
                <div class="errorValidacion">
                    <p><%= errors.contrasenia.msg %></p>
                </div> 
            <% } %>
            <div class = "botones">
                <button class= "botonRegistro" type="submit"> Enviar </button>
                <button class= "botonRegistro" type="reset"> Cancelar </button>
            </div>
            <div class="text-danger" id="formError"></div>
        </form>
        </div>
        <div >
            <form action="/" method="get" class="continuar">
                <div class="ingresoA">
                    <a href="/">Ingresá con Google
                        <img src="/images/google.svg" alt="" class="googleLogo">
                    </a>
                   
                    </div>
                    <div class="ingresoB">
                    <a  href="/">Ingresá con Facebook
                        <img src="/images/facebook.svg" alt="" class="facebookLogo">
                    </a>
                    
                    </div>
            </form>
            <img class= "imagen-fondo" src="/images/image-register.png" alt="">
            <img class= "imagen-fondo-dark" src="/images/image-register-dark.png" alt="">
        </div>
       
    </main>
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/validacionRegister.js"></script>
</body>
</html>